<div class="container-fluid">
	<div class="card">
		<div class="card-header">
			<h2 class="mainTitle">Phone Book</h2>
		</div>
		
		<div class="card-body">
			<h4>Important Contacts</h4>

			<div class="row">
				<table class="table table-dark table-striped col-8">
					<thead>
						<th>First Name</th>
	                	<th>Last Name</th>
		                <th>Phone Number</th>
					</thead>

					<tbody>
						<tr>
							<td>Andrew</td>
							<td>Tyler</td>
							<td>(658) 339-0954</td>
						</tr>
						<tr>
							<td>Claire</td>
							<td>Jones</td>
							<td>(396) 679-5785</td>
						</tr>
						<tr>
							<td>Melissa</td>
							<td>Sparks</td>
							<td>(507) 577-5648</td>
						</tr>

					</tbody>

				</table>

				<div class="card-text col-3" style= "width: 18rem;">
					<h4>If you wish to contact us:</h4>
						<p>Address: Kettenbrückengasse 23/2/12
					    1050 Vienna, Austria</p>
						<p>Email: luisa.nogueira@outlook.com</p>
						<p>Phone: +351 960092126</p>
				</div>

			</div>
			
		</div>
		
	</div>
	
</div>
